<link rel="stylesheet" href="/css/home.css">

<section class="featured-games">
        <h2>Featured Games</h2>
        <div class="game-container">
            <!-- Game 1 -->
            <div class="game-card">
                <iframe height="150" width="105" src="/media/videos/Guessinggame.webm" title="Clicker Game Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="game-video"></iframe>
                <h3>Guess The Number</h3>
                <p>Guess a number between 1 and 100 and see how many guesses you get</p>
                <a href="/guessgame" class="play-button">Play Now</a>
            </div>
            <!-- Game 2 -->
            <div class="game-card">
                <h3>Clicker game</h3>
                <p>A clicker game where you click a button and you </p>
                <a href="/clickergame" class="play-button">Play Now</a>
            </div>
            <!-- Game 3 -->
            <div class="game-card">
                <img src="/images/game3.jpg" alt="Game 3">
                <h3>Game 3 Title</h3>
                <p>Description of Game 3.</p>
                <a href="#" class="play-button">Play Now</a>
            </div>
        </div>
    </section>
    <section class="new-games">
        <h2>New Games</h2>
        <!-- Display new games here -->
    </section>
    <section class="popular-games">
        <h2>Popular Games</h2>
        <!-- Display popular games here -->
    </section>